<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Snake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB7A4CC61C7A35B400CC891C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7A4CDE1C7A35B500CC891C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7A4CE91C7A35B500CC891C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
